* {
  box-sizing: border-box;
  user-select: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

#root > div {
  width: 80px;
  height: 80px;
  border-radius: 16px;
}


#root {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ecede7;
}
